[Desktop Entry]
Type=Application
Name=NFO Builder
Exec=/home/runner/work/NFOBuilder/NFOBuilder/NFO-Creator %F
Icon=default
Comment=Create NFO files for Plex.
Terminal=true
Categories=Utility
